---
title: Taj Hotels
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "Taj-logo.jpg" %>
  </div>
  <h1>ELEGANCE DEFINED</h1>
  <h2>The most luxurious of stays</h2>
  <p class="doc">
    <%= link_to "Rooms ans Suites",'page1.html' %>
    <%= link_to "Dining", "page2.html", target: "_blank" %>
    <%= link_to "Location", "page3.html", target: "_blank" %>
    <%= link_to "Gallery", "page4.html", target: "_blank" %>
    </p><!-- .doc -->
</div><!-- .welcome -->
