
.welcome
  .logo
    = image_tag "Taj-logo.jpg"
  %h1 ELEGANCE DEFINED
  %h2 The most luxurious of stays
  %p.doc
    .funky
      = link_to "Rooms ans Suites",'page1.html'
      = link_to "Dining", "page2.html", target: "_blank"
      = link_to "Location", "page3.html", target: "_blank"
      = link_to "Gallery", "page4.html", target: "_blank"
  / .doc
/ .welcome
