.newstyle
  .welcome
    %h3 IMAGE GALLERY
    .logo
      = image_tag "g1.jpg"
      = image_tag "g2.jpg"
      %br/
      = image_tag "g3.jpg"
      = image_tag "g4.jpg"
      %br/
      = image_tag "g5.jpg"
      = image_tag "g6.jpg"
      %br/
      = image_tag "g7.jpg"
      = image_tag "g8.jpg"
      %br/
      = image_tag "g9.jpg"
      = image_tag "g10.jpg"
      %br/
      = image_tag "g11.jpg"
      = image_tag "g12.jpg"
      %br/
      = image_tag "g13.jpg"
      = image_tag "g14.jpg"
      %br/
      = image_tag "g15.jpg"
      = image_tag "g16.jpg"
      %br/
      = image_tag "g17.jpg"
      = image_tag "g18.jpg"
      %br/
      = image_tag "g19.jpg"
      = image_tag "g20.jpg"
      %br/
      = image_tag "g21.jpg"
      = image_tag "g22.jpg"
      %br/
      = image_tag "g23.jpg"
      = image_tag "g24.jpg"
      %br/
      = image_tag "g25.jpg"
      = image_tag "g26.jpg"
      %br/
      %p.doc
      = link_to "Home",'index.html'
  / .welcome
